:root{
    --sideblackboard-color:#7d4e23;
    --blackboard-color:#084d10;
}

.btn:active{
    transform: scale(0.9);
}

.fixed-btn-slot{
    visibility: hidden;
}


/* .main_container{
    display: inline-flex;
    position: relative;
    justify-content: space-around;
} */

/* .left_top_container{
    width: 25%; */
    /* flex-grow: 1; */
/* }

.right_down_container{
    width: 75%;
    background-color: var(--sideblackboard-color);
} */

/* .card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.card_child{
    background-color: var(--blackboard-color);
}

.header_slot{
    justify-content: space-around;
}

.toolTip:hover:after{
    background: gray;
    border-radius: 5px;
    color: white;
    content: attr(data-descr);
    padding: 5px;
    position: absolute;
    width: 20%;
}


/* @media screen and (max-width: 762px) {
    .main_container{
        display: inline-block; */
        /* width: 100%; */
    /* }

    .left_top_container{
        width: 100%;
    }

    .right_down_container{
        width: 100%;
    }

    .card_container{
        display: flex;
        flex-direction: column;
    }

    .card_child{
        width: 100%;
    }

    .cache_container {
        display: flex;
        justify-content: space-between;
    }

    .fixed-btn-slot{
        visibility: visible;
        position: fixed;
        border-radius: 50%;
        bottom: 10%;
        right: 3%;
        width: 80px;
        height: auto;
        padding: 1rem;
        color: black;
        background-color: #edaf58;
        opacity: .2;
    }

    .fixed-btn-slot:hover{
        opacity: 1;
    } */

/* } */
